.box {
  width: 100px;
  height: 100px;
  border: 1px solid red;
}

.gameBox {
  border: 1px solid black;
  width: 500px;
  
}

.item-img {
  width: 400px;
}

.main {
  display: flex;
  justify-content: center;
}

#tie {
  border-color: black;
}

#win {
  border-color: green;
}

#lose {
  border-color: red;
}