.pagination {
    display: flex !important;
    list-style: none !important;
    padding: 0 !important;
    justify-content: center !important;
    margin-top: 30px !important;
  }
  
  .page-item {
    margin: 0 5px !important;
  }
  
  .page-link {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    background-color: black !important;
    color: red !important;
    font-weight: bold !important;
    text-decoration: none !important;
    border: 2px solid red !important;
    transition: 0.3s !important;
  }
  
  .page-link:hover {
    background-color: red !important;
    color: black !important;
  }
  
  .active .page-link {
    background-color: red !important;
    color: black !important;
  }
  