body {
    background: url(https://img.freepik.com/free-vector/sky-background-video-conferencing_23-2148623068.jpg?semt=ais_hybrid);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;    
}